.scroll-pane{
    -fx-background-color: #7596cd;
    -fx-background-radius: 0 0 25px 25px;
    -fx-border-radius: 0 0 25px 25px;;
}

.scroll-pane .viewport {
    -fx-background-color: #7596cd;
    -fx-background-radius: 25;
}

.scroll-pane .scroll-bar:horizontal{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-height: 10px;
}

.scroll-pane .scroll-bar:horizontal .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-pref-width: 10px;
    -fx-padding: 0 0 0 2;
}

.scroll-pane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane .scroll-bar .thumb {
    -fx-background-color: #89afea;
    -fx-background-radius: 5;
}

.scroll-pane .scroll-bar .increment-arrow,
.scroll-pane .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}